ul{
    list-style: none;
    padding : 0;
    margin : 0;
}
a{
    color : white;
}

ul{
    display : flex;
}

li{
  margin-left: 1em;
}

.spacer{
    flex : 1 1 auto;
}

.mat-toolbar.mat-primary {
    background: #00000056;
    color: #fff;
  }

  img{
    padding-top: 3px;
    width:150px;   
  }