<mat-list>
    <mat-list-item (click)="onClickLeftPanel('createPost')">
      <mat-icon>plus_one</mat-icon>
      <span>Create Post</span>
    </mat-list-item>
    <mat-list-item (click)="onClickLeftPanel('feeds')"> 
      <mat-icon>public</mat-icon>
      <span>All Posts</span> 
    </mat-list-item>
    <mat-list-item (click)="onClickLeftPanel('recentActivity')"> 
      <mat-icon>notifications_active</mat-icon>
      <span>Recent Activity</span>
    </mat-list-item>
    <mat-list-item > 
      <mat-icon >apps</mat-icon>
      <span >IIT Goa Merchandise</span>
    </mat-list-item>
    <mat-list-item > 
      <mat-icon >ac_unit</mat-icon>
      <span>Cultrang</span>
    </mat-list-item>
    <mat-list-item > 
      <mat-icon>fitness_center</mat-icon>
      <span>Sports Day</span>
    </mat-list-item>
   </mat-list>