<br>
<mat-card class = "tp-card" style="width: 90%">
   <mat-card-header>
      <div mat-card-avatar class = "tp-header-image"></div>
      <mat-card-title>
        <p>
           {{ fname }} {{ lname }}
        </p>
      </mat-card-title>
      <mat-card-subtitle><p> {{ email }}</p></mat-card-subtitle>
   </mat-card-header>

   <mat-card-content style="font-style: italic;">
      <p>
         {{ aboutme }}
      </p>
   </mat-card-content>

   <mat-card-actions>
      <button mat-button (click) = "onClickUpdatePassword('pass')" >Update Password</button>
      <button mat-button (click) = "onClickViewMyPosts('userPosts')">My Posts</button>
   </mat-card-actions>

</mat-card>