<form [formGroup]="udatePasswordForm" >
  <mat-card-title>	
    Update Password
  </mat-card-title>	
  <mat-form-field>
    <input matInput name="currentPassword" type="password"  placeholder="Current Password" formControlName="c_pass" 
      [ngClass]="{'is-invalid': udatePasswordForm.get('c_pass').touched && udatePasswordForm.get('c_pass').invalid }">
    <mat-error *ngIf="udatePasswordForm.get('c_pass').touched && udatePasswordForm.get('c_pass').invalid ">
      <p *ngIf="udatePasswordForm.get('c_pass').errors.required ">Mandatory to Enter Current Password</p>  
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput name="password" type="password"  placeholder="New Password" formControlName="pass" 
      [ngClass]="{'is-invalid': udatePasswordForm.get('pass').touched && udatePasswordForm.get('pass').invalid }">
    <mat-error *ngIf="udatePasswordForm.get('pass').touched && udatePasswordForm.get('pass').invalid ">
      <p *ngIf="udatePasswordForm.get('pass').errors.required">Password field cannot be left empty</p>
      <p *ngIf="udatePasswordForm.get('pass').errors.minlength" >Password length should be atleast 6 characters</p>      
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit"  (click)="onUpdate()" [disabled] = "udatePasswordForm.invalid" >Update</button>
</form>
