
mat-form-field,
textarea{
    width : 100%;
}

input[type="file"]{
    visibility: hidden;
}

ul{
    display : flex;
}

.image-preview{
    height : 10rem;
    margin : 1rem 0;
}

.image-preview img{
    height : 100%;
}

mat-form-field{
    width: 500px;
}
