<br>
 <mat-card class = "tp-card" >
   <mat-card-header>
      <div mat-card-avatar class = "tp-header-image"></div>
      <mat-card-title>Quote of the Day</mat-card-title>
      <mat-card-subtitle>--Something </mat-card-subtitle>
   </mat-card-header>
   <mat-card-content>
      <p class="card-text" style="font-style: italic;">
         The woods are lovely, dark and deep. But I have promises to keep, and miles to go before I sleep.
         {{ dailyQuote }}
      </p>
   </mat-card-content>
   <mat-card-actions>
      <p class="card-text" style="font-style: italic; text-align: right;">--Robert Frost{{ quoteAuther }}</p>
   </mat-card-actions>
</mat-card>