mat-card-actions{
    width: 50%;
    display: block;
    margin-left:auto;
    margin-right:right;    
}
mat-card{
    width: 75%;
    display: block;
    margin-left:auto;
    margin-right:auto;    
}
