<div class = "tilefix">
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Post.title
            </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Here complete content will be shown about post</p>
          <button mat-raised-button color="accent" (click)="onEditPost()" style="float: right;">Edit Post</button>
          <hr>
          <div *ngIf = true>
            <mat-form-field>
                <mat-label>Add a comment?</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." [formControl] = "comment">
                </textarea>
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="onAdd()" >Add</button>
            <mat-card>
                <mat-card-subtitle> User.name </mat-card-subtitle>
                <p>Loop through all the comments</p>
            </mat-card>
          </div> 
        </mat-expansion-panel>
      </mat-accordion>
      <hr>
</div>
